 body{
    font-family : 'Berlin Sans FB', 'Trebuchet MS', Arial;
    border:1px solid #424580;
}



h2{
  font-size: 30px;
 text-align: center;
 color: darkslategrey;
 font-family: oswald sans-serif;
}
#section1{
  padding: 10px;
  margin: 20px 0px;

}
#section2{
  padding: 10px;
  margin: 20px 0px;
 
}
#section1:hover, #section2:hover
{
  box-shadow: 0px 0px 5px #444;

}
legend{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #444;
}
#section1 input{
  width: 300px;
  height: 20px;
}
#section2 input [ type=email ]{
  width: 300px;
  height: 20px;
}
#section2 input[ type=text ]{
  width: 500px;
  height: 200px;
}

#section1 label{
  display: inline-block;
  width: 200px;
  padding: 10px 0px 15px 40px;
}
#section2 label{
  display: inline-block;
  width: 200px;
  padding: 10px 0px 15px 40px;
}
input[ type=submit]{
  margin-left: 600px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background-color: orange;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}
input[ type=submit]:hover{
    box-shadow: 0px 0px 4px #555;
    background-color: #a8ab2e;
}